.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303030;
  color: white;
  text-align: center;
}

.header {
  width: 100%;
  background-color: #303030;
  color: white;
}

.block { 
  background-color:  #303030;
}

.freespace {
  height: 85px;
}

.queryString {

}

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#goToTopBtn:hover {
  background-color: #444444;
}

.custom-header-text{
  color: white;
  text-shadow: 3px 3px #444444;
}
.custom-header-text:hover{
  color: #c4c4c4;
  text-shadow: 3px 3px #444444;
  text-decoration: none;
}

.custom-link{
  color: #81a3c9;;
}
.custom-link:hover{
  color: #4d7cb0;
  text-decoration: none;
}

em{
  color: #E74C3C;
}

a em:hover{
   color: #a03226;
}