<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss} [%19.19thread] %-5level %-4line %-42logger{38}: %msg%n</pattern>
    </encoder>
  </appender>
  <springProfile name="application">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/viewer.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- daily rollover -->
        <fileNamePattern>viewer.%d{yyyy-MM-dd}.log</fileNamePattern>

        <!-- keep 30 days' worth of history capped at 1GB total size -->
        <maxHistory>30</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
      </rollingPolicy>

      <encoder>
        <pattern>%d{yy-MM-dd HH:mm:ss} [%19.19thread] %-5level %-4line %-42logger{38}: %msg%n</pattern>
      </encoder>
    </appender>
  </springProfile>
  <logger name="org.edmcouncil.spec.fibo" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.semanticweb.owlapi" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.semanticweb.owlapi.utilities.Injector" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="uk.ac.manchester.cs.owl.owlapi." level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
    <level value="DEBUG" />
  </logger>
  <root level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
    <springProfile name="application">
      <appender-ref ref="FILE" />
    </springProfile>
  </root>
</configuration>
